.commentbody {
    border-top-width: 1ex;
    border-top-style: solid;
    border-top-color: #FBF297;
    padding-left: 5ex;
    text-align: justify;
    margin-bottom: 2ex;
    margin-top: 2ex;
    padding-top: 1ex;
}
.comment-footer {
    text-align: right;
}

.entry-para {
    margin-bottom: 2ex;
}
